@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,600;0,800;0,900;1,200;1,300;1,600&display=swap');


:root {
    --white: #ffffff;
    --lightgray: #e4e4e4;
    --font-color1: #1c1b1b;
    --font-color2: #6a6a6a;
    --nav-height: 10vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Nunito Sans', sans-serif; */
    color: var(--font-color1);
    background-color: var(--white);
}

.test {
    margin-top: 10vh;
    text-align: center;
}

a, ul, li, ol {
    text-decoration: none;
}

main {
    margin-top: var(--nav-height);
}

/* ------------------------------ nav.ejs ------------------------------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 5;
    width: 100vw;

    border-bottom: 1px solid var(--lightgray);

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--nav-height);
}


    .search-and-bag {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60px;

        margin-left: 60px;
    }

    .search-icon {
        width: 20px;
        cursor: pointer;
    }

    .bag-icon {
        width: 24px;
        margin-bottom: 1px;
        cursor: pointer;
    }

    .logo {
        position: relative;
        top: 50%;
        left: 50%;
        width: 40px;
        cursor: pointer;
    }

.container {
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hamburger {
    margin-right: 60px;

    position: relative;
    display: block;
    width: 20px;
    /* height: 35px; */
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

    .hamburger .bar, .hamburger::after, .hamburger::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--font-color2);
        margin: 6px 0px;
        transition: 0.4s;
    }


.ext-hamburger, .x-btn-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--font-color1);
    
    width: 80vw;
    height: 100vh;

    transform: translateX(-100%);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
    .nav-items, .nav-items2 {
        color: var(--lightgray);
        background-color: var(--font-color1);
        margin-left: 20px;
        margin-top: 30px;
    }

    .nav-items a, .nav-items2 a {
        display: flex;
        flex-direction: column;
        margin: 15px 0 0 0;

        color: var(--lightgray);
        background-color: var(--font-color1);        
        padding-bottom: 25px;
        
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        
        text-decoration: none;
        width: 90%;

        transform: translateX(-20%);
        opacity: 0;
        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);;
    }

        .nav-items a {
            text-transform: uppercase;
            border-bottom: 1px solid var(--font-color2);
            letter-spacing: 2px;
        }

        .nav-items2 a {
            color: var(--font-color2);
            font-size: 13px;
            padding-bottom: 0px;
        }

.searchbar {
    position: absolute;
    top: var(--nav-height);
    left: 0;
    z-index: 4;
    width: 100vw;
    height: 6vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.4s ease
}

.searchbar img, .searchbar input, .searchbar div {
    margin: auto;
}

    .searchbar img {
        width: 20px;
    }

    .searchbar input {
        border: none;
        outline: none;
        height: 100%;
        letter-spacing: 3px;
        font-weight: 500;
        width: 60%;
        font-size: 14px;
    }
/* ------------------------------ shop.ejs ------------------------------*/
/* tiles for shop items */
.add-to-cart {
    /* background-color: red; */
    /* border-radius: 5px; */
    height: 1.5rem;
    width: 6rem;
    /* border: 2px solid var(--lightgray); */
    color: #6a6a6a;
    border: 1px solid rgba(106, 106, 106, 0.2);
}

#quantity {
    width: 25px;
}
/* ------------------------------ cart.ejs ------------------------------*/
.cart-container {
    width: 100vw;
    height: 50vh;
    overflow-y: scroll;
    border: 2px solid black;
}

