@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.test {
    margin-top: 10vh;
    text-align: center;
}

header {
    background-color: rgba(0, 0, 255, 0.5);

    display: flex;
    align-items: center;
    height: 10vh;
    /* justify-content: space-around; */
}

    .header-title {
        display: flex;
        justify-content: space-around;
        width: 80vw;
    }

        .header-title span {
            /* background-color: green; */
            width: 70vw;
        }

        .header-title .icon {
            width: 10vw;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    nav {
        width: 20vw;
        /* background-color: red; */

        display: flex;
        justify-content: center;
    }



.container {
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* ------------------------------ shop.ejs ------------------------------*/
/* tiles for shop items */


/* ------------------------------ cart.html ------------------------------*/
.cart-container {
    width: 100vw;
    height: 50vh;
    overflow-y: scroll;
    border: 2px solid black;
}