<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    Hello World!
    <a href="index.html">Go to Index</a>
    <p class="pay-btn">PAY</p>

    <div class="items">
        <% items.utilities.forEach(function(item) { %>
            <div data-item-id="<%= item.id %>">
                <p class="item-name">Item name: <%= item.name %></p>
                <p class="item-price">Item price <%= item.price / 100 %></p>
                <button class="add-to-cart">Add to cart</button>
            </div>
            
        <% }) %>
    </div>
    
    <div class="cart">

    </div>
    <a href="payment_details"><button class="checkout-btn">checkout</button></a>


    <script src="billsPayment.js"></script>
</body>
</html>