<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>
    
    <main>
        <h1 class="test">Wassup welcome to my Shop</h1>
    </main>
    
    <script src="app.js"></script>
    <script src="nav.js"></script>
</body>
</html>