<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <header>
        <div class="header-title">
            <span><a href="/"><%= title %></a></span>
        </div>
        <nav>
            <a href="shop">Shop</a>
        </nav>
    </header>

    <h1 class="test">Wassup welcome to my Shop</h1>

    <script src="app.js"></script>
</body>
</html>