<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    
    <main>
        <h1>Payment Successful</h1>
    </main>

    <script type="module" src="nav.js"></script>
</body>
</html>