:root {
    --bg: #161516;
}

@font-face {
    font-family: SilkSerifRegItalic;
    src: url(/assets/fonts/SilkSerif-Italic.ttf);
    src: url(/assets/fonts/SilkSerif-Italic.woff);
}

/* @font-face {
    font-family: Sign;
    src: url(../assets/fonts/AmostelySignature.ttf);
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    background-color: var(--bg);
    color: white;
    

    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.2s ease;
    transition-property: background, transform;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

    .cursor span {
        font-size: 0.5rem;
        color: white;
        text-align: center;
    }

    .cursor-red {
        background-color: red;
        transform: translate(-50%, -50%);
        border: none;
        z-index: -1;
    }

    .cursor-vid {
        background-color: red;
        transform: translate(-50%, -50%) scale(5);
        border: none;
    }

    .cursor .play {
        display: none;
    }

    .cursor .play-vid {
        display: block;
        transform: scale(0.75);
    }

    .cursor-contact-us {
        border: 2px solid var(--bg);
    }

    .view-project {
        transform: scale(3);
        background-color: red;
        border: none;
    }

        .work-sample a img {
            transition: all 0.2s ease;
            transform-origin: 100% 100%;
        }


        .work-sample a img:hover {
            transform: translateX(-1.75rem);
            opacity: 0.6;
        }

a {
    text-decoration: none;
    color: white;
}


.page {
    height: 100vh;
}

.section-number {
    font-family: 'Playfair Display SC', serif;
    font-style: italic;
    font-size: 8rem;
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

[data-aos="img-show"] {
    opacity: 0;
    transition-property: opacity;
}

[data-aos="img-show"].aos-animate {
    opacity: 1;
}
        
/*--------------------------------------- first section -----------------------------------*/
/*------------------------ page1 ----------------------*/
.cover {
    position: absolute;
    background: black;
    z-index: 99;
    width: 100%;
    height: 100%;
    -webkit-animation: unveil 1s cubic-bezier(0.83, 0, 0.17, 1) forwards;
    animation: unveil 1s cubic-bezier(0.83, 0, 0.17, 1) forwards;
}

    @keyframes unveil {
        0% {
            transform: translateY(0);
            opacity: 1;
        }

        100% {
            transform: translateY(-100%);
            opacity: 0;
            display: none;
        }
    }


#logo-container {
    grid-column: 2;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

    #logo {
        
    }

nav {
    grid-column: 13 / span 3;
    grid-row: 1;

    width: auto;
    height: 10em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

    .nav-link {
        transition: all 0.3s ease ;
    }
    .nav-link:hover {
        transform: translateY(-7px);
    }

    
#page1 {
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(5, 20%);
}

    #num01 {
        grid-column: 3;
        grid-row: 2;
    }

    .front-page {
        grid-column: 5;
        grid-row: 2;
    }

    .front-page div {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 9.5rem;
        letter-spacing: -0.08em;
        line-height: 0.85em;
        width: 60rem;
        overflow: hidden;
    }

    .front-page .kw-grp1 {
        position: relative;
        top: 8rem;
        animation: revealText1 1s forwards;
    }

        .front-page div:nth-child(1) span {
            animation-delay: 0.5s;
        }
        .front-page div:nth-child(2) span {
            animation-delay: 0.75s;
        }
        .front-page div:nth-child(3) span {
            animation-delay: 1s;
        }
       

        @keyframes revealText1 {
            0% {
                top: 8rem;
            }
            100% {
                top: 0rem;
            }
        }


        #designs {
            font-size: 12rem;
            letter-spacing: 0.05em;
        }

            #designs span {
                position: relative;
                top: -10rem;
                animation: revealText2 1s ease forwards;
                animation-delay: 1.25s;
            }
        
            @keyframes revealText2 {
                0% {
                    top: -10rem;
                }
                100% {
                    top: 0rem;
                }
            }

        #cta {
            grid-column: 13;
            grid-row: 4;
            margin-left: 4rem;

            display: flex;
            justify-content: center;
            align-items: center;

            font-family: 'Montserrat', sans-serif;
            height: 20rem;
            width: 20rem;
            background: red;
            border-radius: 50%;
            font-size: 1.5rem;

            opacity: 0;
            animation: revealText3 1s ease forwards;
            animation-delay: 2s;
            transition: all 0.3s ease;
        }

        @keyframes revealText3 {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        #cta:hover {
            transform: scale(0.8);
        }
          
/*------------------------ page2 ----------------------*/
video {
    position: relative;
    /* width: 80vw; */
    height: 70vh;
    top: 30vh;
    left: 40vw;
    /* background: red; */
}

/*--------------------------------------- second section -----------------------------------*/
/*------------------------ page3 ----------------------*/

#page3 {
    /* background: gray; */
    height: 600vh;
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(120, 5%);
}

    #num02 {
        grid-column: 3;
        grid-row: 2;
    }

.section-title-container {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 9.5rem;
    letter-spacing: -0.08em;
    line-height: 0.85em;
    width: 90rem;
    overflow: hidden;
    word-spacing: 2rem;

    grid-column: 5;
    grid-row: 2;
    /* background: red; */
}

    .section-title-container div {

    }



.line {
    position: relative;
    width: 70vw;
    border-bottom: 2px solid white;
    margin-top: 0.3em;
    margin-left: 1rem;
 
}

    [data-aos="slide-in-tr"] {
        transform: translateX(-100%);
        transition-property: transform;
    }

    [data-aos="slide-in-tr"].aos-animate {
        transform: translateX(0);
    }

    [data-aos="slide-in-tl"] {
        transform: translateX(100%);
        transition-property: transform opacity;
    }

    [data-aos="slide-in-tl"].aos-animate {
        transform: translateX(0);
    }

    [data-aos="slide-in-tb"] {
        transform: translateY(100%);
        transition-property: transform;
    }

    [data-aos="slide-in-tb"].aos-animate {
        transform: translateY(0);
    }



.designer {
    font-size: 3rem;
    padding-top: 2em;
}

    .alex {
        margin-left: 2rem;
    }

    .designer.alex {
        grid-column: 1 / span 5;
        grid-row: 3;

        display: grid;
        align-content: center;
        justify-content: center;
    }

        .work-sample.alex {
            grid-column: 1 / span 5;
            grid-row: 4 / span 2;

            /* background: white; */
        }

            .work-sample.alex img {
                width: 100%;
            }

        .work-caption.alex {
            grid-column: 1 / span 5;
            grid-row: 5;

            display: flex;
            justify-content: space-around;
            align-items:flex-start;

            font-size: 1rem;
            font-style: italic;
            margin-top: 12rem;
        }

        .line.slide-in.alex {
            grid-column: 1 / span 5;
            grid-row: 5;

            margin-top: 9rem;
            margin-left: 7.2rem;
            display: flex;
            justify-content: flex-end;
            align-items:center;
            width: 25rem;
            height: 5rem;

            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }


    .designer.lesia {
        grid-column: 7 / span 6;
        grid-row: 3;

        display: grid;
        align-content: center;
        justify-content: center;
    }

        .work-sample.lesia {
            grid-column: 7 / span 6;
            grid-row: 4 / span 6;
            /* background: white; */
        } 

            .work-sample.lesia img{
                width: 100%;
            }

        .work-caption.lesia {
            grid-column: 7 / span 6;
            grid-row: 9;

            display: flex;
            justify-content: space-around;
            align-items:flex-start;

            font-size: 1rem;
            font-style: italic;
            margin-top: 12rem;
        }

        .line.slide-in.lesia {
            grid-column: 7 / span 6;
            grid-row: 9;
            margin-top: 9rem;

            margin-left: 6rem;
            display: flex;
            justify-content: flex-end;
            align-items:center;
            width: 33rem;
            height: 5rem;

            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }

    .work-sample.logofolio {
        grid-column: 7 / span 10;
        grid-row: 11 / span 2;

        margin-right: 2rem;
        display: flex;
        align-items: center;
    }

        .work-sample.logofolio img {
            width: 100%;
        }

        #logofolio-name {
            grid-column: 3;
            grid-row: 11 / span 2;

            transform: rotate(-90deg);
            width: 40rem;

            display: flex;
            justify-content: center;
            z-index: -1;

            font-size: 5rem;
        }


        #logofolio-wc-line {
            grid-column: 5;
            grid-row: 11 / span 2;

            border-right: 2px solid white;
        }

            
                


    .designer.mustafa {
        grid-column: 1 / span 5;
        grid-row: 14;

        margin-left: 2rem;
        display: flex;
        justify-content: center;
        padding-top: 3em;
    }

        .work-sample.mustafa {
            grid-column: 1 / span 5;
            grid-row: 15 / span 2;

            margin-left: 2rem;
        }
        
        .work-sample.mustafa img {
            width: 100%;
        }

        .work-caption.mustafa {
            grid-column: 1 / span 5;
            grid-row: 17;

            display: flex;
            justify-content: space-around;
            align-items:flex-start;

            font-size: 1rem;
            font-style: italic;
            margin-top: 3rem;
            margin-left: 2rem;
        }

        .line.slide-in.mustafa {
            grid-column: 1 / span 5;
            grid-row: 17;

            margin-left: 6rem;
            display: flex;
            justify-content: flex-end;
            align-items:center;
            width: 27.5rem;
            height: 5rem;

            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            
        }




    .designer.fei {
        grid-column: 8 / span 9;
        grid-row: 14;

        /* background: red; */
        margin-right: 2rem;
        display: flex;
        justify-content: center;
        padding-top: 3em;
       
    }

        .work-sample.fei {
            grid-column: 8 / span 9;
            grid-row: 15 / span 5;

            /* background-color: white; */
            margin-right: 2rem;
        }

            .work-sample.fei img {
                width: 100%;
            }

        .work-caption.fei {
            grid-column: 8 / span 9;
            grid-row: 20;

            margin-right: 2rem;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;

            font-size: 1rem;
            font-style: italic;
            margin-top: 11.5rem;
            /* background: red; */
        }

        .line.slide-in.fei {
            grid-column: 8 / span 9;
            grid-row: 20;

           /* background: red; */
           margin-top: 8rem;
           margin-left: 11rem;
           height: 6rem;
           width: 44rem;

           border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }

.circles {
    width: 27rem;
    height: 27rem;
    border: 2px solid white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* transition: all 0.2s ease-in; */
}

    .circles.c1 {
        margin-top: 1rem;

        grid-column: 3;
        grid-row: 8;
    }

    .circles.c2 {
        grid-column: 13;
        grid-row: 5;
        margin-left: 2rem;
    }

    .circles.c3 {
        grid-column: 4;
        grid-row: 18;
        margin-top: 7rem;
    }

        svg {
            width: 10rem;
            height: 10rem;
            transition: all 0.2s ease-in;
        }

            #arrow1 {
                width: 8rem;
                height: 8rem;
            }

        svg:hover {
            transform: scale(1.5);
        }




/*------------------------ page3.5 ----------------------*/
#page3-5 {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

    #other-proj {
        margin-bottom: 10rem;
        width: 35rem;
        height: 35rem;
       
    }

    #red-cover {
        /* position: relative; */
        width: 100vw;
        height: 100vh;
        
        background: red;
        
        transition: all 0.5s ease-in;
    }

        .red-cover {
            transform: scale(1);
        }





          
/*--------------------------------------- third section -----------------------------------*/
/*------------------------ page4 ----------------------*/
#page4 {
    /* background: gray; */
    height: 500vh;
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(125, 4%);
}

    #about-sdmg {
        grid-column: 5;
        grid-row: 2;
        height: 15rem;
    }

    #num03 {
        grid-column: 3;
        grid-row: 2;
        
    }

.p {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

    #p1 {
        grid-column: 5;
        grid-row: 4;

        width: 25rem;
        height: 10rem;
    }

    #p2 {
        grid-column: 7;
        grid-row: 17;

        width: 25rem;
        height: 10rem;
    }

    .about-img img {
        width: 100%;
    }

    .about-img.img1 {
        grid-column: 7 / span 9;
        grid-row: 6 / span 4;
    }


    .about-img.img2 {
        grid-column: 2 / span 9;
        grid-row: 9 / span 4;
    }

    .about-img.img3 {
        grid-column: 7 / span 9;
        grid-row: 12 / span 4;
    }


    .position {
        position: relative;
        top: 50%;
        transform: translateY(50%);
        height: 10rem;
        width: 20rem;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 3rem 0;
    }

        .position span:nth-child(1) {
            font-size: 1.5rem;
        }
        .position span:nth-child(2) {
            font-style: italic;
        }

.carousel {
    grid-column: 1 / span 16;
    grid-row: 19 / span 3;
    background: white;
}

    #we-work-line {
        grid-column: 7;
        grid-row: 19;

        margin: 0;
        padding: 0;
    }
    #we-work {
        grid-column: 7;
        grid-row: 20;

        padding-top: 2rem;
        width: 25rem;
    }

.crawling-text {
    grid-column: 1 / span 16;
    grid-row: 21;
    text-transform: uppercase;
}


.crawling-text .crawl-container {
    height: 9.5rem;
    width: 400vw;
    display: flex;
    justify-content: center;
}


    .crawling-text .crawl-container:nth-child(odd) {
        animation: crawlLeft 50s linear infinite;
    }


    .crawling-text .crawl-container:nth-child(even) {
        direction: rtl;
        animation: crawlRight 60s linear infinite;
    }


    
    .crawl {
        font-family: SilkSerifRegItalic;
        font-size: 10rem;
        font-style: italic;
        white-space: nowrap;
    }

   
    .publicSans {
        font-family: 'Public Sans', sans-serif;
        font-style: normal;
    }

        @keyframes crawlLeft {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        @keyframes crawlRight {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(100%);
            }
        }


            @supports (-webkit-text-stroke: 1px white) {
                .crawl {
                    -webkit-text-stroke: 1px white;
                    -webkit-text-fill-color: var(--bg);
                }
            } 

/*--------------------------------------- fourth section -----------------------------------*/
/*------------------------ page5 ----------------------*/
#page5 {
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-template-rows: repeat(6, 20%);
}
    #page5 .section-title-container div svg {
        padding-top: 3rem;
    }
    #page5 .section-title-container div svg:hover {
        transform: translateX(3rem);
    }

        #page5 .section-title-container div span {
            transition: all 0.3s ease;
        }

        #page5 .section-title-container div span:hover{
            font-family: SilkSerifRegItalic;
            letter-spacing: 0.5px;
        }

            @supports (-webkit-text-stroke: 1px white) {
                #page5 .section-title-container div span:hover {
                    -webkit-text-stroke: 1px white;
                    -webkit-text-fill-color: var(--bg);
                }
            }


    #num04 {
        grid-column: 3;
        grid-row: 2;

        margin-top: 2rem;
    }

    #lets-create {
        grid-column: 5;
        grid-row: 2;
        
    }

    .socials, .address, .sayhi {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        margin-top: 7rem;
    }

    .socials {
        grid-column: 5;
        grid-row: 3;
        
    }
        /* #page5 .socials .social  {
            transition: transform 0.2s ease;
        }

        #page5 .socials .social:hover  {
            transition: transform 0.2s ease;
        } */

        .socials .clickable.social, .sayhi .clickable.social{
            transition: transform 0.2s ease; 
        }

        .socials .clickable.social:hover, .sayhi .clickable.social:hover {
            transform: translateY(-10px);
        }


    
    .address {
        grid-column: 9 / span 2;
        grid-row: 3;
    }

    .sayhi {
        grid-column: 13;
        grid-row: 3;
    }

    .contact-title {
        font-size: 1.5rem;
    }


/*------------------------ page6 ----------------------*/
#contact-us {
    height: 120vh;
    background: white;
    color: var(--bg);

    display: grid;
    grid-template-columns: repeat(17, 5.88%);
    grid-template-rows: repeat(10, 10%);
}

    #contact-us p {
        grid-column: 7 / span 2;
        grid-row: 2;

        display: flex;
        align-items: center;
    }

    #contact-us .line {
        grid-column: 7;
        grid-row: 1;
        border-bottom: 2px solid rgb(107, 107, 107);
    }


#contact-us form div span {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 6.75rem;
    font-weight: 600;
}

form {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: repeat(17, 5.88%);
    grid-template-rows: repeat(20, 5%);

    margin: 0;
    padding: 0;
}

/* #contact-us form div {
    overflow-x: hidden;
    display: inline;
} */

        #contact-us form div:nth-child(1) {
            grid-column: 7;
            grid-row: 5 / span 2;  
        }
    
        #contact-us form div:nth-child(2) {
            grid-column: 2 / -1;
            grid-row: 7 / span 2;
        }

        #contact-us form div:nth-child(3) {
            grid-column: 2 / -1;
            grid-row: 9 / span 2;
        }

        #contact-us form div:nth-child(4) {
            grid-column: 2 / -1;
            grid-row: 11 / span 2;
        }

        #contact-us form .send {
            grid-column: 8 / -1;
            grid-row: 14 / -1;

            height: 20.5rem;
            width: 20.5rem;
            border-radius: 50%;
            border: none;
            background-color: red;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: white;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: -3px;
            transition: all 0.2s ease;
        }

        #contact-us form .send:hover {
            transform: scale(0.7);
        }


        /* #contact-us form .input {
            background: red;
        } */

        form input {
            border: none;
            border-bottom: 1px solid var(--bg);
            width: 40%;
            height: 2rem;
            text-align: center;
            font-family: 'Public Sans', sans-serif;
            font-size: 1.2rem;
        }

            input:focus {
                outline: none;
                border-bottom: 2px solid var(--bg);
            }
            
            input:focus::placeholder {
                color: transparent;
              }