main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.instruct {
    font-size: 5rem;
}

.middle-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.player {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-name {
    font-size: 2rem;
}

.score {
    font-size: 10rem;
}
.current-score {
    font-size: 5rem;
}
.button {
    margin: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}



body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.middle-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 5rem;
}



.dice {
    margin: 3rem 0;
}

#dice {
    width: 90px;
    height: 90px;
    transform-style: preserve-3d;
    transition: transform 0.75s ease-out;
}

#dice:hover {
  cursor: pointer;
}

.sides{
    background-color: #EFE5DC;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
    border-radius: 1rem;
}

.dot {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
}

.side-1 .dot-1 { top: 50%; left: 50%; }

.side-2 .dot-1 { top: 25%; left: 25%; }
.side-2 .dot-2 { top: 75%; left: 75%; }

.side-3 .dot-1 { top: 25%; left: 25%; }
.side-3 .dot-2 { top: 75%; left: 75%; }
.side-3 .dot-3 { top: 50%; left: 50%; }

.side-4 .dot-1 { top: 25%; left: 25%; }
.side-4 .dot-2 { top: 25%; left: 75%; }
.side-4 .dot-3 { top: 75%; left: 25%; }
.side-4 .dot-4 { top: 75%; left: 75%; }

.side-5 .dot-1 { top: 25%; left: 25%; }
.side-5 .dot-2 { top: 25%; left: 75%; }
.side-5 .dot-3 { top: 75%; left: 25%; }
.side-5 .dot-4 { top: 75%; left: 75%; }
.side-5 .dot-5 { top: 50%; left: 50%; }

.side-6 .dot-1 { top: 25%; left: 25%; }
.side-6 .dot-2 { top: 25%; left: 75%; }
.side-6 .dot-3 { top: 75%; left: 25%; }
.side-6 .dot-4 { top: 75%; left: 75%; }
.side-6 .dot-5 { top: 50%; left: 25%; }
.side-6 .dot-6 { top: 50%; left: 75%; }

#dice .side-1 {
  transform: translateZ(45px);
}
#dice .side-2 {
  transform: rotateX(-180deg) translateZ(45px);
}
#dice .side-3 {
  transform: rotateY(90deg) translateZ(45px);
}
#dice .side-4 {
  transform: rotateY(-90deg) translateZ(45px);
}
#dice .side-5 {
  transform: rotateX(90deg) translateZ(45px);
}
#dice .side-6 {
  transform: rotateX(-90deg) translateZ(45px);
}

#dice[data-side="1"] {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="2"] {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(720deg);
}
#dice[data-side="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(720deg);
}
#dice[data-side="4"] {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(720deg);
}
#dice[data-side="5"] {
    transform: rotateX(630deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="6"] {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(720deg);
}

#dice[data-side="1"].reRoll {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="2"].reRoll {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
#dice[data-side="3"].reRoll {
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
}
#dice[data-side="4"].reRoll {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}
#dice[data-side="5"].reRoll {
    transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="6"].reRoll {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}


@keyframes fadeUp {
	0% {
		opacity: 0;
		bottom: 0;
	}

	100% {
		opacity: 1;
		bottom: 20px;
	}
}

.turn-display {
    bottom: 5rem;
    font-size: 5rem;
}

.restart {
    opacity: 0;
    cursor: pointer;
}