<footer>
    <div class="footer-container">
        <div class="footer-info socials">
            <h5>SOCIALS</h5>
            <p>Instagram</p>
            <p>Facebook</p>
            <p>Twitter</p>
            <p>Pinterest</p>
            <p>Youtube</p>
        </div>  
        <div class="footer-info info">
            <h5>INFO</h5>
            <p>Shipping</p>
            <p>Customs and Duty Fees</p>
            <p>Return Policy</p>
            <p>Terms and Conditions</p>
        </div>
        
        <div class="footer-info support">
            <h5>SUPPORT</h5>
            <p>Email</p>
            <p>Authenticity</p>
            <p>Help/FAQs</p>
        </div>
    </div>
    
    <div class="company-name">
        <img src="../images/lion2.svg" alt="Company logo">
        <p class="footer-company-name">&#169; Montaigne-Élysées Paris</p>
        <p class="not-copyright">Not copyrighted</p> 
    </div>
</footer>