<div class="overlay"></div>

<nav class="nav-bar">
    <div class="hamburger-container">
        <button class="hamburger">
            <div class="bar"></div>
        </button>
    </div>
    <a href="/" class="logo company-name">
        <!-- <img class="logo" src="../images/lion2.svg" alt="lion logo"> -->
        <div>Montaigne-Élysées</div>
    </a>
    <div class="search-and-bag">
        <img class="search-icon" src="../images/search.svg" alt="search icon">
        <img class="bag-icon" src="../images/bag2.svg" alt="bag icon">
    </div>
</nav>

<div class="ext-hamburger">
    <div class="nav-items close-nav" style='font-size:20px;'>&#10005;</div>
    <div class="nav-items">
        <a href="/">Home</a>
        <a href="/shop">All Products</a>
        <a href="#">Clothing</a>
        <a href="#">Bags</a>
        <a href="#">Footwear</a>
        <a href="#">Accessories</a>
    </div>
    <div class="nav-items2">
        <a href="#">Shipping</a>
        <a href="#">Customs and Duty Fees</a>
        <a href="#">Return Policy</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Account</a>
    </div>
</div>


<div class="searchbar">
    <img src="../images/search.svg" alt="search icon">
    <input type="text" placeholder="SEARCH..." id="search" name="search">
    <div class="close-searchbar" style='font-size:20px;'>&#10005;</div>
</div>


<div class="cart-container">
    <div class="cart-header">
        <span>CART</span>
        <span class="close-cart">&#10005;</span>
    </div>
    <div class="cart"></div>
    <div class="checkout-div">
        <span class="checkout-details add-order-note">Add Order Note</span>
        <span class="checkout-details">Shipping & taxes calculated at checkout</span>
        <a href="payment_details">
            <div class="checkout-btn">
                <span>CHECKOUT</span>
                <span>PHP<span class="total"></span></span>
            </div>
        </a>
    </div>
</div>